workflows/03-appointment-booking.json
{
  "name": "BOSS — Appointment Booking (BANT+Appt Flow)",
  "nodes": [
    {
      "id": "webhook-appt-trigger",
      "name": "BOSS Webhook — Appt Lead Accepted",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "boss-appointment-booking",
        "responseMode": "immediately",
        "responseData": "noData",
        "options": {}
      }
    },
    {
      "id": "check-appt-tier",
      "name": "Is bant_appt Tier?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "tier-check",
              "leftValue": "={{ $json.body?.product_tier }}",
              "rightValue": "bant_appt",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "launch-instantly-sequence",
      "name": "Launch Instantly Sequence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 220],
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/campaigns/{{ $env.INSTANTLY_APPT_CAMPAIGN_ID }}/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.INSTANTLY_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ leads: [{ email: $json.body.email, first_name: $json.body.first_name, last_name: $json.body.last_name, company_name: $json.body.company, personalization: 'Hi ' + $json.body.first_name + ', based on your interest in ' + ($json.body.bant_need ?? 'our solution') + ', I wanted to schedule a quick call.' }] }) }}",
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "wait-for-reply",
      "name": "Wait for Instantly Reply Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [900, 220],
      "parameters": {
        "httpMethod": "POST",
        "path": "boss-instantly-reply",
        "responseMode": "immediately",
        "responseData": "noData",
        "options": {}
      }
    },
    {
      "id": "check-positive-reply",
      "name": "Positive Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 220],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "reply-intent",
              "leftValue": "={{ ($json.body?.reply_text ?? '').toLowerCase() }}",
              "rightValue": "(?:yes|sure|interested|schedule|call|meeting|sounds good|absolutely|let's)",
              "operator": { "type": "string", "operation": "regex" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "create-calendar-event",
      "name": "Create Google Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1340, 140],
      "parameters": {
        "operation": "create",
        "calendar": { "value": "={{ $env.GOOGLE_CALENDAR_ID }}", "mode": "id" },
        "start": "={{ new Date(Date.now() + 3 * 24 * 60 * 60 * 1000).toISOString() }}",
        "end": "={{ new Date(Date.now() + 3 * 24 * 60 * 60 * 1000 + 30 * 60 * 1000).toISOString() }}",
        "additionalFields": {
          "summary": "={{ 'BOSS Appointment: ' + ($('BOSS Webhook — Appt Lead Accepted').first().json.body?.first_name ?? '') + ' ' + ($('BOSS Webhook — Appt Lead Accepted').first().json.body?.last_name ?? '') + ' — ' + ($('BOSS Webhook — Appt Lead Accepted').first().json.body?.company ?? '') }}",
          "description": "={{ 'Lead: ' + ($('BOSS Webhook — Appt Lead Accepted').first().json.body?.email ?? '') + '\\nBudget: ' + ($('BOSS Webhook — Appt Lead Accepted').first().json.body?.bant_budget ?? 'N/A') + '\\nTimeline: ' + ($('BOSS Webhook — Appt Lead Accepted').first().json.body?.bant_timeline ?? 'N/A') + '\\nNeed: ' + ($('BOSS Webhook — Appt Lead Accepted').first().json.body?.bant_need ?? 'N/A') }}",
          "attendees": [
            { "email": "={{ $('BOSS Webhook — Appt Lead Accepted').first().json.body?.email }}" }
          ]
        }
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REPLACE_WITH_GCAL_CREDENTIAL_ID",
          "name": "BOSS Google Calendar"
        }
      }
    },
    {
      "id": "update-boss-lead-appt",
      "name": "Update BOSS Lead — Appointment Booked",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 140],
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.BOSS_API_URL }}/api/v1/leads/{{ $('BOSS Webhook — Appt Lead Accepted').first().json.body.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-Key", "value": "={{ $env.BOSS_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ appt_status: 'scheduled', appt_scheduled_at: Date.now(), appt_calendar_link: $json.htmlLink ?? '' }) }}",
        "options": {}
      }
    },
    {
      "id": "create-hubspot-deal",
      "name": "Create HubSpot Deal",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [1780, 140],
      "parameters": {
        "resource": "deal",
        "operation": "create",
        "additionalFields": {
          "dealname": "={{ 'BOSS: ' + ($('BOSS Webhook — Appt Lead Accepted').first().json.body?.company ?? 'Unknown') + ' — Appointment' }}",
          "dealstage": "appointmentscheduled",
          "pipeline": "default",
          "amount": 500,
          "closedate": "={{ new Date(Date.now() + 30 * 24 * 60 * 60 * 1000).toISOString() }}"
        }
      },
      "credentials": {
        "hubspotApi": {
          "id": "REPLACE_WITH_HUBSPOT_CREDENTIAL_ID",
          "name": "BOSS HubSpot"
        }
      }
    }
  ],
  "connections": {
    "BOSS Webhook — Appt Lead Accepted": {
      "main": [[{ "node": "Is bant_appt Tier?", "type": "main", "index": 0 }]]
    },
    "Is bant_appt Tier?": {
      "main": [
        [{ "node": "Launch Instantly Sequence", "type": "main", "index": 0 }],
        []
      ]
    },
    "Launch Instantly Sequence": {
      "main": [[{ "node": "Wait for Instantly Reply Webhook", "type": "main", "index": 0 }]]
    },
    "Wait for Instantly Reply Webhook": {
      "main": [[{ "node": "Positive Reply?", "type": "main", "index": 0 }]]
    },
    "Positive Reply?": {
      "main": [
        [{ "node": "Create Google Calendar Event", "type": "main", "index": 0 }],
        []
      ]
    },
    "Create Google Calendar Event": {
      "main": [[{ "node": "Update BOSS Lead — Appointment Booked", "type": "main", "index": 0 }]]
    },
    "Update BOSS Lead — Appointment Booked": {
      "main": [[{ "node": "Create HubSpot Deal", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["boss", "appointments", "bant"],
  "meta": { "instanceId": "REPLACE_WITH_N8N_INSTANCE_ID" }
}
